pizza{
    display:block;
    margin: 50px;
}
name{
    display: block;
    font-size: 30px;
    font-weight: bold;
    color: brown;
    margin-bottom: 10px;
}
ingredient{
    display: block;
    font-size: 20px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    margin-bottom: 10px;
}
